/* animation.css */
@keyframes backgroundAnimation {
    0% {
      background-position: 0% 0%;
      background-color: #5c1d1d;
    }
    8.33% {
      background-position: 100% 0%;
      background-color: #0516b3;
    }
    16.67% {
      background-position: 0% 100%;
      background-color: #500ba0;
    }
    25% {
      background-position: 100% 100%;
      background-color: #5c1d1d;
    }
    33.33% {
      background-position: 0% 50%;
      background-color: #0516b3;
    }
    41.67% {
      background-position: 100% 50%;
      background-color: #500ba0;
    }
    50% {
      background-position: 0% 0%;
      background-color: #5c1d1d;
    }
    58.33% {
      background-position: 100% 0%;
      background-color: #0516b3;
    }
    66.67% {
      background-position: 0% 100%;
      background-color: #500ba0;
    }
    75% {
      background-position: 100% 100%;
      background-color: #5c1d1d;
    }
    83.33% {
      background-position: 0% 50%;
      background-color: #0516b3;
    }
    91.67% {
      background-position: 100% 50%;
      background-color: #500ba0;
    }
    100% {
      background-position: 0% 0%;
      background-color: #5c1d1d;
    }
  }
  

  .animated-background {
    background-size: 200% 200%; 
    animation: backgroundAnimation 70s linear infinite; 
  }
  




@keyframes hacker-flicker {
  0%, 100% {
    opacity: 1;
    transform: translateX(0);
  }
  25% {
    opacity: 0.7;
    transform: translateX(-5px);
  }
  75% {
    opacity: 0.7;
    transform: translateX(5px);
  }
}

.hacker-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: hacker-flicker 2s infinite;
  font-family: monospace; 
}



